:root {
  --oyster-pink: #e8cec7;
  --tundora: #404040;
  --petite-orchid: #da9a96;
  --white: #ffffff;
  --silver: #cac9c9;
}


.full-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: var(--tundora);
}




/* ✅ Contact Info */
.contact-info {
  background-color: var(--oyster-pink);
  padding: 20px 0;
  text-align: center;
}

.contact-info h2 {
  color: var(--tundora);
  font-family: "Beverly", sans-serif;
}

.contact-info p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.contact-info button {
  background-color: var(--petite-orchid);
  color: var(--white);
  border: 2px solid var(--tundora);
  padding: 10px 20px;
  transition: background 0.3s, color 0.3s;
}

.contact-info button:hover {
  background-color: var(--tundora);
  color: var(--white);
}

/* ✅ Responsive Styles */
@media only screen and (max-width: 768px) {


  .virtual-showroom h2 {
    font-size: 1.8rem;
  }
}
